<div class="account-action">
  <button nz-button class="account-action__btn" (click)="handleAddDrawer()">Thêm tài khoản</button>
  <input
    nz-input
    type="text"
    [(ngModel)]="searchText"
    name="search"
    placeholder="Tìm kiếm người dùng..."
  />
</div>

<app-table
  [data]="filteredData()"
  [columns]="colConfig"
  (rowClick)="handleRowClick($event)"
  [trackKey]="'id'"
></app-table>

<ng-template #extraTpl>
  <app-drawer-close (remove)="handleRemove()"></app-drawer-close>
</ng-template>
