<div class="card-detail">
  <div class="card-detail__content">
    <form [formGroup]="addForm">
      <nz-list>
        <!-- SHOW -->
        <nz-list-item>
          <span>Hiển thị</span>
          <nz-switch formControlName="show" nzSize="small"></nz-switch>
        </nz-list-item>

        <!-- TYPE -->
        <nz-list-item>
          <span>Loại thẻ</span>
          <nz-select formControlName="type">
            <nz-option [nzValue]="JapaneseType.VOCABULARY" nzLabel="Từ vựng"></nz-option>
            <nz-option [nzValue]="JapaneseType.CHARACTER" nzLabel="Ký tự"></nz-option>
          </nz-select>
        </nz-list-item>

        <!-- SCRIPT -->
        <nz-list-item>
          <span>Loại chữ</span>
          <nz-select formControlName="typeface">
            <nz-option [nzValue]="JapaneseTypeface.HIRAGANA" nzLabel="Hiragana"></nz-option>
            <nz-option [nzValue]="JapaneseTypeface.KATAKANA" nzLabel="Katakana"></nz-option>
            <!-- <nz-option nzValue="kanji" nzLabel="Kanji"></nz-option> -->
          </nz-select>
        </nz-list-item>

        <!-- KANA -->
        <nz-list-item>
          <span>Kana</span>

          <nz-select formControlName="kanaType">
            <nz-option [nzValue]="kana.Default" nzLabel="Mặc định"></nz-option>
            <nz-option [nzValue]="kana.Seion" nzLabel="Seion"></nz-option>
            <nz-option [nzValue]="kana.Dakuon" nzLabel="Dakuon"></nz-option>
            <nz-option [nzValue]="kana.Handakuon" nzLabel="Handakuon"></nz-option>
            <nz-option [nzValue]="kana.SmallKana" nzLabel="SmallKana"></nz-option>
            <nz-option [nzValue]="kana.Sokuon" nzLabel="Sokuon"></nz-option>
            <nz-option [nzValue]="kana.Yoon" nzLabel="Yoon"></nz-option>
          </nz-select>
        </nz-list-item>

        <!-- TERM -->
        <nz-list-item>
          <span>Mục học</span>
          <input nz-input type="text" formControlName="term" />
        </nz-list-item>

        <!-- READING -->
        <nz-list-item>
          <span>Cách đọc</span>
          <input nz-input type="text" formControlName="reading" />
        </nz-list-item>

        <!-- MEANING -->
        <nz-list-item>
          <span>Nghĩa</span>
          <input nz-input type="text" formControlName="meaning" placeholder="nghĩa phiên dịch" />
        </nz-list-item>

        <!-- ROMAJI -->
        <nz-list-item>
          <span>Romaji</span>
          <input nz-input type="text" formControlName="romaji" placeholder="Nhập romaji" />
        </nz-list-item>

        <!-- NOTE -->
        <nz-list-item>
          <span>Ghi chú</span>
          <textarea nz-input rows="4" formControlName="note"></textarea>
        </nz-list-item>
      </nz-list>
    </form>
  </div>
  <div class="card-detail__actions">
    <button nz-button nzType="primary" (click)="onSubmit()">Xác nhận</button>
  </div>
</div>
