<nz-layout>
  <nz-sider
    [nzCollapsible]="isCollapsed()"
    [nzCollapsed]="isCollapsed()"
    [nzTrigger]="null"
    (nzCollapsedChange)="onCollapsedChange($event)"
    [nzBreakpoint]="'lg'"
  >
    <div class="sider">
      <div class="sider__nav">
        <app-nav />
      </div>
      <div class="sider__avatar">
        <app-avatar />
      </div>
    </div>
  </nz-sider>
  <nz-content>
    <div class="content">
      <nz-header>
        <app-header />
      </nz-header>
      <router-outlet />
    </div>
  </nz-content>
</nz-layout>
