.account-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 173px);
  overflow-y: auto;

  &__stat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 12px;

    app-stat-card {
      height: 90px;
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 12px;
    min-height: 500px;
  }
  &__chart {
    flex: 1 1 49%;
    min-width: 0;
    display: flex;
    flex-direction: column;

    ::ng-deep .ant-card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 400px;
      position: relative;
      padding: 12px;
    }

    canvas {
      display: block;
    }
  }

  &__logs {
    flex: 1 1 49%;
    height: 100%;
  }
}
