<div class="flash-card-action">
  <div class="flash-card-action__btn">
    <button nz-button class="btn__add" (click)="handleAddDrawer()">Thêm thẻ</button>
  </div>
  <input
    nz-input
    type="text"
    [(ngModel)]="searchText"
    name="search"
    placeholder="Tìm kiếm thẻ..."
  />
</div>

<app-table
  [data]="filteredData()"
  [columns]="colConfig"
  (rowClick)="handleRowClick($event)"
  [trackKey]="'id'"
></app-table>

<ng-template #extraTpl>
  <app-drawer-close (remove)="handleRemove()"></app-drawer-close>
</ng-template>
