.product-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 173px);
  overflow-y: auto;

  &__stat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 12px;

    app-stat-card {
      height: 90px;
      width: 100%;
    }
  }
}
