@import 'ng-zorro-antd/ng-zorro-antd.less';
@import './toastr.less';

:root {
  --sider-background-theme-light: #ffffff;
  --sider-text-color-theme-light: #1b211a;
  --background-login: #f0f2f5;
  --background-logout: #f0f2f5;
  --header-background-theme-light: #ffffff;
  --background-theme-light: #ffffff;
}
