nz-card {
  width: 100%;
  height: 100%;
  // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);

  .title {
    font-weight: 500;
    font-size: 12px;
  }

  .stat {
    font-family: 'Roboto Mono', monospace;
    color: var(--color-primary);
    font-size: 20px;
  }
}
