<div class="card-detail">
  <div class="card-detail__content">
    <nz-list [nzBordered]="true">
      <!-- SHOW -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Hiển thị:</span>
        </span>

        @if (isEdit()) {
          <nz-switch [(ngModel)]="editCard.isShow" nzSize="small" />
        } @else {
          <nz-tag [nzColor]="formatColor(editCard.isShow)">
            {{ editCard.isShow ? 'Có' : 'Không' }}
          </nz-tag>
        }
      </nz-list-item>

      <!-- TYPE -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Loại thẻ:</span>
          @if (!isEdit()) {
            <span> {{ formatCardType(editCard.type) }}</span>
          }
        </span>

        @if (isEdit()) {
          <nz-select [(ngModel)]="editCard.type" style="width: 220px">
            <nz-option [nzValue]="JapaneseType.CHARACTER" nzLabel="Ký tự"></nz-option>
            <nz-option [nzValue]="JapaneseType.VOCABULARY" nzLabel="Từ vựng"></nz-option>
          </nz-select>
        }
      </nz-list-item>

      <!-- TYPEFACE -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Loại chữ:</span>
          @if (!isEdit()) {
            <span>{{ formatScript(editCard.typeface) }}</span>
          }
        </span>

        @if (isEdit()) {
          <nz-select
            [(ngModel)]="editCard.typeface"
            (ngModelChange)="onTypefaceChange($event)"
            style="width: 220px"
          >
            <nz-option [nzValue]="JapaneseTypeface.HIRAGANA" nzLabel="Hiragana"></nz-option>
            <nz-option [nzValue]="JapaneseTypeface.KATAKANA" nzLabel="Katakana"></nz-option>
            <nz-option [nzValue]="JapaneseTypeface.KANJI" nzLabel="Kanji"></nz-option>
          </nz-select>
        }
      </nz-list-item>

      <!-- KANA -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Kana:</span>
          @if (!isEdit()) {
            <span>{{ formatKana(editCard.kanaType) }}</span>
          }
        </span>

        @if (isEdit()) {
          <nz-select [(ngModel)]="editCard.kanaType" style="width: 220px">
            <nz-option [nzValue]="kana.Default" nzLabel="Mặc định"></nz-option>
            <nz-option [nzValue]="kana.Seion" nzLabel="Seion"></nz-option>
            <nz-option [nzValue]="kana.Dakuon" nzLabel="Dakuon"></nz-option>
            <nz-option [nzValue]="kana.Handakuon" nzLabel="Handakuon"></nz-option>
            <nz-option [nzValue]="kana.SmallKana" nzLabel="SmallKana"></nz-option>
            <nz-option [nzValue]="kana.Sokuon" nzLabel="Sokuon"></nz-option>
            <nz-option [nzValue]="kana.Yoon" nzLabel="Yoon"></nz-option>
          </nz-select>
        }
      </nz-list-item>

      <!-- TERM - Dùng JpInputComponent khi edit -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Mục học:</span>
          @if (!isEdit()) {
            <strong>{{ editCard.term }}</strong>
          }
        </span>

        @if (isEdit()) {
          <div class="jp-input-wrapper">
            <app-jp-input
              [inputType]="
                currentTypeface() === JapaneseTypeface.KANJI
                  ? 'kanji'
                  : currentTypeface() === JapaneseTypeface.KATAKANA
                    ? 'katakana'
                    : 'hiragana'
              "
              [placeholderText]="'Nhập từ...'"
              (valueConverted)="onTermChange($event)"
            />
          </div>
        } @else {
          <nz-icon nzType="sound" nzTheme="outline" (click)="onSound(editCard.term)" />
        }
      </nz-list-item>

      <!-- READING - Dùng JpInputComponent khi edit -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Cách đọc:</span>
          @if (!isEdit()) {
            <em>{{ editCard.reading }}</em>
          }
        </span>

        @if (isEdit()) {
          <div class="jp-input-wrapper">
            <app-jp-input
              inputType="hiragana"
              [placeholderText]="'Nhập cách đọc (romaji)...'"
              (valueConverted)="onReadingChange($event)"
            />
          </div>
        } @else {
          <nz-icon nzType="sound" nzTheme="outline" (click)="onSound(editCard.reading)" />
        }
      </nz-list-item>

      <!-- MEANING -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Nghĩa:</span>
          @if (!isEdit()) {
            <span>{{ editCard.meaning }}</span>
          }
        </span>

        @if (isEdit()) {
          <input
            nz-input
            [(ngModel)]="editCard.meaning"
            style="width: 220px"
            placeholder="nghĩa phiên dịch"
          />
        }
      </nz-list-item>

      <!-- ROMAJI -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Romaji:</span>
          @if (!isEdit()) {
            <span>{{ editCard.romaji }}</span>
          }
        </span>

        @if (isEdit()) {
          <input
            nz-input
            [(ngModel)]="editCard.romaji"
            style="width: 220px"
            placeholder="Nhập romaji (ví dụ: Nihon, Watashi)..."
          />
        }
      </nz-list-item>

      <!-- NOTE -->
      <nz-list-item>
        <span nz-typography>
          <span class="title">Ghi chú:</span>
          @if (!isEdit()) {
            <br />
            <span>{{ editCard.note }}</span>
          }
        </span>

        @if (isEdit()) {
          <textarea nz-input [(ngModel)]="editCard.note" style="width: 220px" rows="4"></textarea>
        }
      </nz-list-item>
    </nz-list>
  </div>

  <div class="card-detail__actions">
    @if (isEdit()) {
      <button nz-button nzType="primary" (click)="onConfirm()">Xác nhận</button>
      <button nz-button nzDanger (click)="onCancel()">Hủy</button>
    } @else {
      <button nz-button nzType="primary" (click)="onEdit()">Thay đổi</button>
    }
  </div>
</div>
